<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.guia7">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Guia7">
        <activity
            android:name=".ScoreActivity"
            android:label="Ver puntaje"
            android:exported="false" />
        <activity
            android:name=".HelpActivity"
            android:label="Respuesta correcta"
            android:exported="false" />
        <activity
            android:name=".PlayActivity"
            android:exported="false"
            android:label="Jugar" />
        <activity
            android:name=".ConfigActivity"
            android:exported="false"
            android:label="Configuración" />
        <activity
            android:name=".DatosActivity"
            android:exported="true"
            android:label="Mis datos" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>